<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd 
	 http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-2.5.xsd
     ">
	
	<bean
		class="ru.scf37.config.util.ConfigPropertyPlaceholderConfigurer">
		<property name="root" value="classpath:test" />
		<property name="application" value="app" />
		<property name="version" value="v1" />
		<property name="location" value="test.properties" />
	</bean>
	
	<bean id="key1" class="java.lang.String">
		<constructor-arg><value>${key1}</value></constructor-arg>
	</bean>
	<bean id="key2" class="java.lang.String">
		<constructor-arg><value>${key2}</value></constructor-arg>
	</bean>
	<bean id="key3" class="java.lang.String">
		<constructor-arg><value>${key3}</value></constructor-arg>
	</bean>
	<bean id="key4" class="java.lang.String">
		<constructor-arg><value>${key4}</value></constructor-arg>
	</bean>

</beans>